body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 16px;
    box-sizing: border-box;
}

.chat-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: auto;
    box-sizing: border-box;
}

.chat-content {
    flex: 1;
    overflow-y: auto;
    padding-top: 32px;
    box-sizing: border-box;
    scrollbar-width: thin; 
    background-color: transparent; 
}


.chat-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #1e1e1e00;
    color: #2a2a2a;
}

.chat-content::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
    color: #2a2a2a; 
    border-radius: 4px;
}

.chat-content::-webkit-scrollbar-track {
    background-color: #1e1e1e00; 
    color: #2a2a2a;
}

.chat-content:hover::-webkit-scrollbar-thumb {
    background-color: #2a2a2a; 
    color: #2a2a2a;
}

.chat-content:hover::-webkit-scrollbar-track {
    background-color: #1e1e1e00; 
    color: #2a2a2a;
}

.chat-bubble {
    display: flex;
    margin-bottom: 20px;
}

.chat-bubble .bubble {
    line-height: 150%;
    padding: 12px;
    word-wrap: break-word;
}

.chat-bubble.human .bubble {
    margin-right: 10px;
    max-width: 500px;
    background-color: #3A3A3A;
    border-radius: 24px;
}

.chat-bubble.human {
    justify-content: flex-end;
}

.chat-bubble.ai .bubble {
    padding: 0;
    align-self: flex-start;
    max-width: 650px;
}

.input-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #1E1E1E;
    box-sizing: border-box;
}

.input-field {
    flex: 1;
    padding: 14px;
    border-radius: 32px;
    background-color: #1E1E1E;
    border: 1px solid #4A4A4A;
    outline: none;
    color: white;
    font-size: 14px;
    margin-right: 10px;
}

.send-button {
    padding: 14px 20px;
    border: none;
    border-radius: 32px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
}

@media (min-width: 600px) {
    .chat-container, .input-container {
        width: 90%;
    }

    .input-field {
        max-width: calc(90% - 90px);
    }
}

@media (min-width: 800px) {
    .chat-container, .input-container {
        width: 800px;
    }

    .input-field {
        max-width: calc(800px - 90px);
    }
}
